---
import Layout from '../../layouts/Layout.astro';
import AuthorInfo from '../../components/author-info/AuthorInfo';
import Comments from '../../components/book-info/Comments';

import { searchBookByIsbn } from '../../services/book.service.ts';

export const prerender = false

const { url } = Astro
const bookId = url.pathname.split('/')[2]
const bookIsbn = bookId.split('-').at(-1)

const bookInfo = await searchBookByIsbn(bookIsbn as string)

const { success, author, cover, title, publishDate } = bookInfo

// if (!success)

const firstAuthor = author?.split(',').at(0)

---

<Layout title="Home">
  <div class="mt-10 grid gap-6 sm:gap-2 sm:grid-cols-[1fr,_0.5fr]">
    <section>    
      <div class="p-10 bg-gray-50 rounded-xl shadow-xl">
        <div class="flex flex-col sm:flex-row gap-5">
          <div>
            <img
              src={cover}
              alt={`Cover of ${title}`}
              class="h-[288px] w-full sm:min-w-[198px] sm:w-[198px] object-cover bg-white border border-gray-200 rounded-lg shadow"
              transition:name={`book-cover-${bookId}`}
            >
          </div>
          <div class="flex flex-col justify-between">
            <div>
              <h2 class="text-xl mb-1 font-title">{title}</h2>
              <h4 class="text-gray-500 text-sm">{author}</h4>
            </div>
            <p>{publishDate}</p>
          </div>
        </div>
        <div>
          <Comments client:visible />
        </div>
      </div>
    </section>
    <section class="bg-transparent">
      <AuthorInfo client:visible authorName={firstAuthor} />
    </section>
  </div>
</Layout>
