---
interface Props {
  title: string;
  author: string;
  publish_date: string;
  cover: string;
  id: string | number;
}

const { id, title, author, publish_date, cover } = Astro.props;

const bookLink = '/book'
---

<div class="bg-white border border-gray-200 rounded-lg shadow">
  <a href={bookLink}>
    <img class="rounded-t-lg w-full" src={cover} alt="" transition:name={`book-cover-${id}`} transition:persist />
  </a>
  <div class="p-5">
    <a href={bookLink}>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          {title}
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700">
      author: {author} <br/> <!-- FIX THIS -->
      published: {publish_date} <br/>
    </p>
    <a
      href={bookLink}
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
    >
      Read more
        <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg>
    </a>
  </div>
</div>
